* {
 line-height: 1.5;
 box-sizing: border-box;
}

html {
 font-size: 18px;
 font-family: "Athiti", serif;
 font-weight: 500;
}

main,
header {
 max-width: 1400px;
 margin: 0 auto;
}

.star-decoration {
 position: relative;
 text-align: center;
}

.star-decoration::before,
.star-decoration::after {
 content: "\2605";
 color: #950000;
 font-size: .6rem;
 position: absolute;
 top: 50%;
 transform: translateY(-50%);
}
.star-decoration::before {
 left: -10px;
}
.star-decoration::after {
 right: -10px;
}

header {
 display: flex;
 flex-direction: column;
 justify-content: center;
}

.logo {
 width: 100%;
 display: flex;
 flex-direction: column;
 align-items: center;
 gap: 1rem;
 padding-top: 2rem;
 margin-bottom: 2rem;
}

.logo-img {
 width: 30%;
}

.logo-text {
 text-transform: uppercase;
 font-family: "Athiti", serif;
 font-weight: 600;
 padding: .5rem;
}

nav ul {
 display: flex;
 flex-direction: column;
 justify-content: center;
}

li.link {
 width: 100%;
 background: #EBE2DB;
 text-transform: capitalize;
 text-align: center;
 padding: .5rem 0;
 color: #020203;
 border-bottom: 1px solid #4c4343;
 transition: all .3s ease;
}

li.link:hover {
 background: #950000;
 color: #EBE2DB;
 cursor: pointer;
}

li.link a {
 text-decoration: none;
 font-family: "Athiti", serif;
 font-size: 1.11rem;
 font-weight: 600;
 color: inherit;
}

li.link.active {
 color: white;
 background: #4c4343;
}

footer {
 display: flex;
 flex-direction: column;
 justify-content: space-evenly;

 padding: 1rem;
 width: 100%;

 background: url("../images/footer-bg.jpg") center;
 background-size: cover;
}

footer section.container {
 display: flex;
 flex-direction: column;
 justify-content: space-evenly;
 text-align: center;
 padding-bottom: 2rem;
}

footer section.container h4 {
 border-bottom: 1px dashed #EBE2DB;
 padding: .7rem;
 color: #EBE2DB;
 font-family: Merienda, serif;
 margin-bottom: 1rem;
}

footer section.container p {
 color: #EBE2DB;
 font-size: .88rem;
 margin-top: .3rem;
}

footer section.container p.tel {
 margin-top: 1.5rem;
}

footer section.social .buttons {
 display: flex;
 justify-content: center;
 gap: 1rem;
}

footer section.social .buttons button {
 background: none;
 border: none;
 color: #EBE2DB;
}

@media screen and (min-width: 780px) {
 nav ul {
  flex-direction: row;
  justify-content: space-evenly;
  background: #EBE2DB;
 }
 nav ul li.link {
  width: 10%;
  border: none;
 }

 footer {
  flex-direction: row;
  align-items: flex-start;
 }
}

@media screen and (min-width: 1100px) {
 header, .logo {
  flex-direction: row;
  align-items: center;
 }
 .logo-img {
  width: 20%;
 }
 nav {
  width: 70%;
 }
 nav ul {
  width: 100%;
  justify-content: space-evenly;
  background: none;

 }

 nav ul li.link {
  width: max-content;
  padding: .5rem 1rem;
 }

 footer section.container {
  width: 30%;
 }
}