section.hero,
section.hero img,
section.about,
section.about img,
section.menus,
section.menus img {
 width: 100%;
}

section.hero {
 margin-top: 2rem;
 padding: 0 1rem;
}

section.about,
section.menus,
div.container {
 padding: 0 1rem;
 display: flex;
 flex-direction: column;
 align-items: center;
 margin-bottom: 1rem;
}

div.container {
 padding: 0;
}

section.about h2,
section.menus h3 {
 font-family: "Merienda", serif;
 font-size: 1.666rem;
 text-align: center;
 font-weight: 500;
 padding: 1rem;
}

section.about p {
 padding: .5rem 0;
 font-size: .833rem;
}

div.container {
 gap: 1rem;
}

section.menus h3 {
 font-size: 1.11rem;
}

section.menus .card {
 display: flex;
 flex-direction: column;
 align-items: stretch;
 width: 100%;
 background: #EBE2DB;
 gap: 1rem;
 padding-bottom: 1rem;
}

.card h4 {
 align-self: center;
 padding: .4rem;
}

.card ul {
 list-style: unset;
 list-style: "\2605";
 padding-left: 1rem;
}

::marker {
 color: #950000;
 margin-right: 1rem;
}

.card ul li {
 padding: .5rem 1rem;
 border-bottom: 1px dashed #4c4343;
}

.card button {
 background: var(--brown);
 text-align: center;
 color: var(--white);
 border: none;
 align-self: center;
 width: 90%;
 padding: .5rem 0;
 font-weight: 600;
 display: flex;
 align-items: center;
 justify-content: center;
 gap: .4rem;
 transition: .5s all ease;
}

.card button:hover {
 background: var(--red);
}

.card button i {
 background: url("../images/fork-knife.svg");
 width: 25px;
 aspect-ratio: 1/1;
 display: block;
}

.card .img {
 display: flex;
 position: relative;
}
.card .img .filter,
.card .img .content {
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 transition: .5s all ease;
 opacity: 0;
}

.card .img .filter {
 background: rgba(76,67,67,.9);
 width: 100%;
 height: 100%;
}

.card .img .content {
 width: 90%;
 height: 80%;
 border: 5px solid var(--white);
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 color: var(--white);
}

.card .img .content .price {
 font-size: 2.77rem;
 font-weight: 600;
}
.card .img .content .price::after {
 content: "$";
 margin-left: 1rem;
}

.card .img .content .text {
 font-size: .83rem;
 font-style: italic;
 width: 55%;
 text-align: center;
}

.card .img:hover .content,
.card .img:hover .filter {
 opacity: 1;
}


@media screen and (min-width: 1100px) {
 section.about div.container {
  flex-direction: row-reverse;
  align-items: flex-start;
 }
 section.about div.container img {
  width: 40%;
 }

 section.menus div.container {
  flex-direction: row;
 }
}