section.hero,
section.hero img,
section.about,
section.about img,
section.menus,
section.menus img {
 width: 100%;
}

section.hero {
 margin-top: 2rem;
 padding: 0 1rem;
}

section.about,
section.menus,
div.container {
 padding: 0 1rem;
 display: flex;
 flex-direction: column;
 align-items: center;
 margin-bottom: 1rem;
}

div.container {
 padding: 0;
}

section.about h2,
section.menus h3 {
 font-family: "Merienda", serif;
 font-size: 1.666rem;
 text-align: center;
 font-weight: 500;
 padding: 1rem;
}

section.about p {
 padding: .5rem 0;
 font-size: .833rem;
}

div.container {
 gap: 1rem;
}

section.menus h3 {
 font-size: 1.11rem;
}

section.menus .card {
 display: flex;
 flex-direction: column;
 align-items: stretch;
 width: 100%;
 background: #EBE2DB;
 gap: 1rem;
 padding-bottom: 1rem;
}

.card h4 {
 align-self: center;
 padding: .4rem;
}

.card ul {
 list-style: unset;
 list-style: "\2605";
 padding-left: 1rem;
}

::marker {
 color: #950000;
 margin-right: 1rem;
}

.card ul li {
 padding: .5rem 1rem;
 border-bottom: 1px dashed #4c4343;
}

.card button {
 background: #4c4343;
 text-align: center;
 color: #EBE2DB;
 border: none;
 align-self: center;
 width: 90%;
 padding: .5rem 0;
 font-weight: 600;
 display: flex;
 align-items: center;
 justify-content: center;
 gap: .4rem;
}

.card button i {
 background: url("../images/fork-knife.svg");
 width: 25px;
 aspect-ratio: 1/1;
 display: block;
}

@media screen and (min-width: 1100px) {
 section.about div.container {
  flex-direction: row-reverse;
  align-items: flex-start;
 }
 section.about div.container img {
  width: 40%;
 }

 section.menus div.container {
  flex-direction: row;
 }
}