@font-face {
 font-family: 'Black Optimus';
 font-weight: normal;
 src: url("../font/BlackOptimusDEMO.ttf") format('truetype');
}

.border5 {
 border: 5px;
 padding: 10px;
}

.solidBorder {
 border: solid #800080;
 font-size: 2.3em;
 font-weight: 900;
 font-style: oblique;
 text-decoration: line-through  /* underline, overline */;
 text-transform: capitalize /* uppercase, lowercase */;
 font-family:  "Black Optimus", serif, sans-serif, monospace, cursive, fantasy;
 text-align: justify-all;
}

.dottedBorder {
 border: dotted #ff0000;
 font-family: "Edu AU VIC WA NT Dots", serif;
}

.dashedBorder {
 border: dashed green;
 font-family: "Teko", serif;
}

.doubleBorder {
 border: double #ff69b4;
}

.leftBorder {
 border-left: solid orange;
 padding-left: 0;
}

.roundedBorder {
 border: solid salmon;
 border-radius: 10px;
 text-align: justify;
}

.roundedImg img {
 border-radius: 50%;
 height: 250px;
 width: 250px;
}

img {
 float: right;
}