@font-face {
 font-family: 'Courgette';
 src: url("../font/Courgette-Regular.ttf") format('truetype');
}

html {
 font-size: 18px;
 box-sizing: border-box;
 align-content: center;
 color: #444;
 font-family: "Source Sans 3", serif;
 font-weight: 600;
 line-height: 1.5;
}
body {
 max-width: 980px;
 text-align: center;
 margin: 0 auto;
}

nav, h1, h2, h3, blockquote {
 font-family: "Courgette", serif;
}

nav {
 text-align: left;
 font-family: 'Courgette', serif;
 font-size: 1.11rem;
}