/* Generalities */
* {
 box-sizing: border-box;
 font-family: "Lato", serif;
 color: #333;
 line-height: 1.5;
}

.center > :is(.detailTitle, .subTitle) {
 align-self: flex-start;
}

.red-text {
 color: #f00;
}

.ocre-text {
 color: #cd8c56;
}

.cta {
 background: #007eb3;
 color: #ffffff;
 border-radius: 6px;
 padding: .3rem 1rem;
 border: none;
 cursor: pointer;
}

h1, h2, h3 {
 font-weight: normal;
}
h1 {
 font-size: 2.81rem;
 position: relative;
}
h1::first-letter {
 text-transform: uppercase;
}
h1::after {
 position: absolute;
 bottom: 0;
 right: 0;
 content: "";
 width: 170%;
 height: 1px;
 background: linear-gradient(90deg, transparent, #007eb3, transparent);
}

h2 {
 font-size: 1.875rem;
 text-transform: uppercase;
}
h3 {
 font-size: 1.5625rem;
}

body {
 margin: 0;
 padding: 0;
}

.container {
 max-width: 900px;
}

main {
 display: flex;
 flex-direction: column;
 align-items: center;
}

section {
 margin: 30px 0;
}

.center {
 display: flex;
 flex-direction: column;
 align-items: center;
}

/* Header */

header {
 text-align: center;
}

.logo-link img {
 width: 150px;
}

nav {
 background: #007eb3;
}

.nav-container {
 list-style: none;
 display: flex;
 justify-content: space-evenly;
 padding: .5rem;
}

.nav-link {
 color: #ffffff;
 text-decoration: none;
}

.nav-container li::first-letter {
 text-transform: uppercase;
}
/* Header End */

.title {
 color: #007eb3;
 word-spacing: 10px;
}

/* First section */




#lastTrip .content {
 display: flex;
 justify-content: space-between;
 width: 100%;
 gap: 1rem;
 align-items: flex-start;
}

#lastTrip .content img {
 max-width: 49%;
}

#lastTrip .b-bottom {
 padding-bottom: 1rem;
 border-bottom: 1px solid black;
}

#lastTrip .text-container p:first-of-type {
 margin-top: 0;
}

/* First section End */

/* Second section */

#whenToGo {
 width: 100%;
}

#whenToGo table {
 border-collapse: collapse;
 width: 100%;
}

#whenToGo th::first-letter {
 text-transform: uppercase;
}

#whenToGo :is(td, th) {
 border: 1px solid silver;
 padding: .7rem 1rem;
}

#whenToGo tr td:nth-child(1)::first-letter {
 text-transform: uppercase;
}

#whenToGo tr td:nth-child(2)::first-letter {
 text-transform: uppercase;
}

#whenToGo tr:has(td):nth-child(odd) {
 background: silver;
}

/* Second section End */