* {
 box-sizing: border-box;
}

main {
 max-width: 900px;
 margin: 0 auto;
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 background: #EEEEEE;
 position: relative;
}



.elem {
 position:relative;
 padding: 2rem;
 border: 1px solid red;
}
main:hover .elem {
 transform: translateX(250px);
}
.elem.ease {
 transition: 1s all ease;
}
.elem.ease-in {
 transition: 1s all ease-in;
}

.elem.ease-out {
 transition: 1s all ease-out;
}

.elem.ease-in-out {
 transition: 1s all cubic-bezier(1,-1.07,1,.99);
}